<% include ../partials/header %>
<div class="ui inverted vertical center aligned segment">
  <% include ../partials/nav %>
  <div class="ui header">
  <h1>Blog</h1>
  <h2>Welcome to my cluttered mind.</h2>
  <% if(!currentUser) { %>
    <p>Please register or login to comment.</p>
    <a class="ui large green button" href="/login">Login</a>
    <a class="ui large green button" href="/register">Register</a>
    <% } else { %>
    <p>Logged in as: <%= currentUser.username%>.</p>
    <a class="ui large green button" href="/logout">Logout</a>
  <% } %>
  <% if((currentUser && currentUser.isAuthor) || (currentUser && currentUser.isAdmin)) { %>
    <a class="ui large green button" href="/blog/new">New Post</a>
  <% } %>
 </div>
</div>
      <div class="ui text container segment">
        <div class="ui items">
        <% posts.reverse().forEach(function(post) { %>
          <div class="item segment">
            <div class="content">
              <a class="header" href="/blog/<%=post.id%>"><%- post.title %></a>
              <p class="meta">Author: <%= post.author.username%> </p>
              <div class="description">
                <p class="text wrap"><%- post.body.substring(0,100) %>...</p>
                <p><%= post.date %></p>
              </div>
              <div class="ui divider"></div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
    

<% include ../partials/footer %>