<% include ../partials/header %>
<div class="ui inverted vertical center aligned segment">
  <% include ../partials/nav %>
  <div class="ui header">
    <h1>Blog</h1>
    <h2>Welcome to my cluttered mind.</h2>
    <% if(!currentUser) { %>
      <p>Please register or login to comment.</p>
      <a class="ui large green button" href="/login">Login</a>
      <a class="ui large green button" href="/register">Register</a>
      <% } else { %>
        <p>Logged in as: <%= currentUser.username%>.</p>
        <a class="ui large green button" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
    <div class="ui text container segment">
      <div>
        <% if(currentUser && post.author.id.equals(currentUser._id) || (currentUser && currentUser.isAdmin)) { %>
          <form action="/blog/delete/<%= post.id %>?_method=DELETE" method="POST" onsubmit="return confirm('Do you really want to delete this post?');">
          <a class="ui small yellow button" href="/blog/edit/<%= post.id %>">Edit Post</a>
          <button class="ui small red button">Delete Post</button>
          </form>
          <% } %>
        </div>
        <h1 class="header"><%- post.title %></h1>

        <h3 class="meta">Author: <%= post.author.username%> </h3>
        <div class="ui divider"></div>
        <p class="text wrap"><%- post.body %></p>
        <div class="ui divider"></div>
        <p><%= post.date%></p>
        <% if(!currentUser) { %>
          <p>Please register or login to comment.</p>
          <a class="ui large green button" href="/login">Login</a>
          <a class="ui large green button" href="/register">Register</a>
          <% } else { %>
            <p>Logged in as: <%= currentUser.username%>.</p>
            <a class="ui large green button" href="/logout">Logout</a>
          <% } %>
        <% if (currentUser) { %>
          <h2>Comments:</h2>
          <form class="ui form" action="/blog/<%=post.id%>/comment" method="POST">
          <textarea name="comment" placeholder="Comment..."></textarea>
          <div class="ui divider"></div>
          <button class="ui small green button">Publish Comment</button>
          </form>
          <% } %>
          <div class="ui comments">
            <% post.comments.forEach(function(comment) { %>
              <div class="comment">
              <div class="content">
              <div class="author">
              <p>Comment by: <%=comment.author.username%></p>
              <p class="metadata date"><%=comment.date%></p>
              </div>
              <div class="text">
              <p><%=comment.body%></p>
              </div>

              <% if((currentUser && comment.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)) { %>
                <form action="/blog/<%= post.id %>/comment/<%=comment.id%>/delete?_method=DELETE" method="POST" onsubmit="return confirm('Do you really want to delete this comment?');">
                <a class="ui small yellow button" href="/blog/<%= post.id %>/comment/<%=comment.id%>/edit">Edit Comment</a>
                <button class="ui small red button">Delete Comment</button>
                </form>
                <% } %>
                </div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
          <% include ../partials/footer %>
